<!-- Home Section -->
<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="intro">
    <div class="intro-sub">Hector Francisco Garcia Lara</div>
    <h1>Full-Stack <span>Developer</span></h1>
    <p>
      I am a passionate and fully professional freelance with 10 years of experience in National/International companies
      <br> along the commercial and financial sector.
      Involving with latest web designing and technologies is a great <br> so that you can feel free to contact me.</p>

    <div class="social-icons">
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/thundercoder"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/thundercoder"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/thundercoder"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/hectorglara"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div> <!-- /.social-icons -->
  </div>

  <div class="mouse-icon">
    <div class="wheel"></div>
  </div>
</section><!-- End Home Section -->


<!-- Navigation -->
<header class="header">
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">HECTORGLARA.NINJA</a>
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div><!-- .container -->
  </nav>
</header><!-- End Navigation -->


<!-- About Section -->
<section id="about" class="about-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">About Me</h2>

    <div class="row">

      <div class="col-md-4 col-md-push-8">
        <div class="biography">
          <div class="myphoto">
            <img src="/assets/images/myphoto.jpg" alt="">
          </div>
          <ul>
            <li><strong>Name:</strong> Hector Garcia</li>
            <li><strong>Date of birth:</strong> 06 Dec 1990</li>
            <li><strong>Nationality:</strong> Domincan</li>
            <li><strong>Phone:</strong>+1 (646) 809 0742</li>
            <li><strong>Email:</strong> hectorglara@outlook.com</li>
          </ul>
        </div>
      </div> <!-- col-md-4 -->

      <div class="col-md-8 col-md-pull-4">
        <div class="short-info wow fadeInUp">
          <h3>Objective</h3>
          <p>An opportunity to work and upgrade oneself, as well as being involved in an organization that believes in
            gaining a competitive edge and giving back to the community. I'm presently expanding my solid experience in
            UI / UX design. I focus on using my interpersonal skills to build good user experience and create a strong
            interest in my employers. I hope to develop skills in motion design and my knowledge of the Web, and become
            an honest asset to the business. As an individual, I'm self-confident you’ll find me creative, funny and
            naturally passionate. I’m a forward thinker, which others may find inspiring when working as a team.</p>
        </div>

        <div class="short-info wow fadeInUp">
          <h3>What I Do ?</h3>
          <p>I have worked from database construction to the front-end view using different tools what doing my work
            more interesting. I have been working as a web interface designer since. I have a love of clean, elegant
            styling, and I have lots of experience in the production of CSS3 and HTML5 for modern websites. I loving
            creating awesome as per my clients’ need. I think user experience when I try to craft something for my
            clients. Making a design awesome.</p>

          <!--
          <ul class="list-check">
            <li>User Experience Design</li>
            <li>Interface Design</li>
            <li>Node JS</li>
            <li>.NET CORE</li>
            <li>AgularJS / Angular</li>
            <li>SQL SERVER / SSIS / SSRS</li>
            <li>REST API</li>
          </ul>
          -->
        </div>

        <div class="my-signature">
          <img src="assets/images/hector-sign.png" alt="">
        </div>

        <div class="download-button">
          <a class="btn btn-info btn-lg" href="#contact"><i class="fa fa-paper-plane"></i>Send me message</a>
          <a class="btn btn-primary btn-lg" href="/assets/HectorResume-English.pdf"><i class="fa fa-download"></i>Download
            my cv</a>
        </div>
      </div>


    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section><!-- End About Section -->

<!-- Resume Section -->
<section id="resume" class="resume-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Resume</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <h3>Education</h3>
        </div>
        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">2014-2018</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Bachelor degree certificate</h3>
                    <span>Software Engineering, UTESA University, Sto Dgo, DR</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>I have completed Software Engineering degree from UTESA University, Sto Dgo, DR. Finally I've
                      done this so my parents can be quiet xD.</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2004-2008</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Secondary school certificate, Technical Computer/Software</h3>
                    <span>Instituto Técnico Salesiano, Sto Dgo, DR</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>From this college I've been so thankful, which created on me that enthusiasm for developing. I am
                      so happy, my dear professors.</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /row -->

    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <h3>Experience</h3>
        </div>
        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">2015-PRESENT</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Software Developer</h3>
                    <span>BanReservas, Sto Dgo, Dominican Republic</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>
                      My principal functions are: Discuss technical solutions with customers and users providing
                      innovate new ideas, Develop applications wih high quality, Create methologies and resources for
                      impplementing software towards excellent way. <br>
                      I have leaded project such as: Fiscal Ivoincing, Credit Request, Employees Evaluation, Invoice
                      Automatic Generation and Certificates of Deposit.
                    </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2014-2015</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Software Consultant</h3>
                    <span>Infosyp, Sto Dgo, Dominican Republic</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Contribute with the software implementation of different companies’ projects, develop and test
                      the best solutions for the project will be more optimum and easy for the users and customers
                      working closely with the Tech Leads and Development Managers. </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

            <li>
              <div class="posted-date">
                <span class="month">2012-2014</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Flat Software Developer</h3>
                    <span>Grupo Astro, Sto Dgo, Dominican Republic</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Create, update and maintain the different software of our company to fulfill customers and user’s
                      needs.

                      I had the opportunity of work in two important projects: Certification Fiscal, it was a project
                      that permitted the company verify its point of sale software to can be sold to different
                      companies; Security Software, in this project I had to travel for testing the different security
                      control in the place and adapt the software with Gartner devices (http://www.gartner.com/). </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2009-2012</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Junior Software Developer</h3>
                    <span>Quala Inc., Sto Dgo, Dominican Republic</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>I was developing financial software for automatize process which are: Conciliation Bank,
                      Customer’s Payments, Plane File Generation for Import Data to others Software Platforms and
                      Fulfillment checker (Software for auditing employees). Also I was lead software tester in
                      Financial Department (Project of Centralization and Unification, Updating ERP).</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
</section><!-- End Resume Section -->


<!-- Skills Section -->
<section id="skills" class="skills-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Skills</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title"><h3>UX Design</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                 aria-valuemax="100"><span>85%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->

        <div class="skill-progress">
          <div class="skill-title"><h3>.NET CORE</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                 aria-valuemax="100"><span>90%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
        <div class="skill-progress">
          <div class="skill-title"><h3>Node JS</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                 aria-valuemax="100"><span>75%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title"><h3>Angular</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                 aria-valuemax="100"><span>90%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
        <div class="skill-progress">
          <div class="skill-title"><h3>SQL SERVER</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                 aria-valuemax="100"><span>95%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
        <div class="skill-progress">
          <div class="skill-title"><h3>MongoDB</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"><span>80%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->

    <div class="skill-chart text-center">
      <h3>More skills</h3>
    </div>

    <div class="row more-skill text-center">
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="75" data-color="e74c3c">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Leadership</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="85" data-color="2ecc71">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Creativity</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="90" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Management</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="95" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Problem Solving</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="95" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Analyst</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="100" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Motivation</span>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /.container -->
</section><!-- End Skills Section -->


<!-- Facts Section -->
<section id="facts" class="facts-section text-center" data-stellar-vertical-offset="50"
         data-stellar-background-ratio="0.2">
  <div class="tt-overlay-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="count-wrap">
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-flask"></i>
              <h3 class="timer">10</h3>
              <p>Years of Experience</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-thumbs-up"></i>
              <h3 class="timer">26</h3>
              <p>Projects Done</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-users"></i>
              <h3 class="timer">7</h3>
              <p>Happy Clients</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fa fa-trophy"></i>
              <h3 class="timer">3</h3>
              <p>Awards Won</p>
            </div>
          </div><!-- /count-wrap -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
</section> <!-- End Facts Section -->


<!-- Hire Section -->
<section class="hire-section text-center" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
  <div class="hire-section-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>I'm available for freelance project</h2>
          <a href="https://www.linkedin.com/in/hectorglara" class="btn btn-default">Get Hired</a>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.hire-section-bg -->
</section><!-- End Hire Section -->


<!-- Contact Section -->
<section id="contact" class="contact-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Get in touch</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="contact-form">
          <strong>Send me a message</strong>
          <app-contact-form></app-contact-form>
        </div><!-- /.contact-form -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="row center-xs">
          <div class="col-sm-6">
            <i class="fa fa-map-marker"></i>
            <address>
              <strong>Address/Street</strong>
              YONKERS NY, USA
            </address>
          </div>

          <div class="col-sm-6">
            <i class="fa fa-mobile"></i>
            <div class="contact-number">
              <strong>Phone Number</strong>
              +1 (646) 809 0742
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="location-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96438.2289164401!2d-73.93433477219497!3d40.94435885923911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2c0080943afa1%3A0xbe967384a4d8daa2!2sYonkers%2C+Nueva+York%2C+EE.+UU.!5e0!3m2!1ses-419!2sdo!4v1522779285484"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Contact Section -->


<!-- Footer Section -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>&copy; hectorglara.ninja / All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer Section -->


<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#home"><i class="fa fa-angle-up"></i></a>
</div>

